    * {
        margin: 0;
        padding: 0;
        background-color: rgb(8, 3, 20);
    }

  

    #cont {
        width: 100vw;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #smallcont {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 50vh;
        height: 50vh;
    }

    .btn {
        color: white;
        cursor: pointer;
        background-color: rgb(111, 109, 109);
        font-size: 6vmin;
    }

    .btn:hover {
        background-color: rgb(70, 71, 71);

    }

    #head {
        height: 20vh;
         display: flex;
        justify-content: center;
        align-items: center;
    }

    #head h1 {
        font-size: 6vmin;
    }
    #winner-message{
        font-size: 3rem;
        color: rgb(123, 163, 11);
        font-weight: 900;
        justify-content: center;
        height: 20vh;
        align-items: center;
        display: flex;
    }